{% extends 'base.html.twig' %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<div class="container">
		<section class="mt-4" style="min-width: 320px;">
			<h3 class="subtitle">Log in</h3>
			<form method="POST">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="field">
					<p class="control has-icons-left">
						<input class="input" name="email" type="email" placeholder="Email">
						<span class="icon is-small is-left">
							<i class="fa fa-envelope"></i>
						</span>
					</p>
				</div>

				<div class="field">
					<p class="control has-icons-left">
						<input class="input" name="password" type="password" placeholder="Password">
						<span class="icon is-small is-left">
							<i class="fa fa-lock"></i>
						</span>
					</p>
				</div>

				<div class="field">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
				</div>

				<div class="field">
					<p class="control">
						<button class="button is-primary">
							Login
						</button>
					</p>
				</div>
			</form>
		</section>
	</div>

{% endblock %}
