{% extends 'base.html.twig' %}

{% block title %}Welcome to bugtracker
{% endblock %}

{% block body %}

	<div>
		<p>Bug tracker landing page</p>
		<div class="buttons">
			<button class="button is-info">Info</button>
			<button class="button is-success">Success</button>
			<button class="button is-warning">Warning</button>
			<button class="button is-danger">Danger</button>
		</div>
	</div>
{% endblock %}
