{% extends 'base.html.twig' %}

{% block title %}Welcome to bugtracker
{% endblock %}

{% block body %}
	<div class="container p-5">
		<div>
			<p>Bug tracker landing page</p>
		</div>
	</div>
{% endblock %}
