<footer class="footer py-5">
	<div class="content has-text-centered">
		<p>
			&copy;2021
			<strong>Bug tracker</strong>
			by
			<a href="https://github.com/asselmankarel">
				<span class="icon-text">
					<span class="icon">
						<i class="fa fa-github"></i>
					</span>
					<span>
						Karel Asselman
					</span>
				</span>
			</a>
		</p>
	</div>
</footer>
