<footer class="footer py-5">
	<div class="content has-text-centered">
		<p>
			&copy;2021
			<strong>Bug tracker</strong>
			by
			<a href="https://github.com/asselmankarel">Karel Asselman</a>
		</p>
	</div>
</footer>
