{% if errors is defined %}
	{% for error in errors %}
		<div class="notification is-warning">
			<p>{{ error }}</p>
		</div>
	{% endfor %}
{% endif %}

<form action="{{ path('app_project_create') }}" method="POST">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('create-project') }}">
	<div class="field">
		<label for="name">Name</label>
		<input class="input is-primary" type="text" name="name" required>
	</div>
	<div class="field">
		<label for="name">Description</label>
		<textarea class="textarea is-primary" type="textarea" name="description" required></textarea>
	</div>
	<h3>Tags:</h3>
	<div class="field">
		<div class="select is-multiple">
			<select multiple size="6" name="tags[]" id="tags">
				<option value="ruby">ruby</option>
				<option value="php">php</option>
				<option value="csharp">csharp</option>
				<option value="perl">perl</option>
				<option value="css">css</option>
				<option value="html">html</option>
				<option value="js">js</option>
				<option value="react">react</option>
				<option value="vue">vue</option>
				<option value="go">go</option>
				<option value="python">python</option>
			</select>
		</div>
	</div>

	<div class="is-flex is-justify-content-center">
		<input class="button is-primary mr-3" type="submit" value="Create">
		<a href="{{ path('app_project')}}" class="button is-secondary">Back</a>
	</div>
</form>
