{% extends 'base.html.twig' %}

{% block title %}Projects
{% endblock %}

{% block body %}
	<div class="container">
		{% if projects %}
			<span>
				Your projects
			</span>

		{% else %}
			<span>
				You don't have any projects yet
			</span>
		{% endif %}
		<a class="button is-primary is-small ml-3" href="{{ path('app_project_new')}}">Add project</a>
	</div>
{% endblock %}
