{% extends 'base.html.twig' %}

{% block title %}Projects
{% endblock %}

{% block body %}
	<div class="container">
		<p>Your projects</p>
		<hr>

		{% include "project/_form.html.twig" %}
	</div>
{% endblock %}
