{% extends 'base.html.twig' %}

{% block title %}Projects
{% endblock %}

{% block body %}
	<div class="container">
		{% if projects %}
			<p>Your projects</p>
		{% else %}
			<p>You don't have any projects yet</p>
		{% endif %}

		<hr>

		{% include "project/_form.html.twig" %}
	</div>
{% endblock %}
